---
import Layout from "../../layouts/layout.astro";
import { MarkdownCleaner } from "../../modules/markdown-cleaner";
---

<Layout title="마크다운 서식 제거기 | Moya Tools">
  <main class="min-h-screen py-10 bg-base-200">
    <MarkdownCleaner client:load />
  </main>
</Layout>
