---
import "../styles/global.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html
  lang="ko"
  data-theme="dim"
>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Moya Tools - 웹 개발자를 위한 필수 도구 모음"
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>{title}</title>
    <!-- Font: Asta Sans (Korean support) -->
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Asta+Sans:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    class="bg-base-200 text-base-content min-h-screen font-['Asta_Sans'] antialiased"
  >
    <slot />
  </body>
</html>
